h2{
    background-color: darkgray;}
   
   
    h3{
        background-color:darkgray;}
        p{
            font-size:25px ;
        }


body{
    font-family: 'Akaya Telivigala', 'cursive';
    background-color: #e2e8e2;
}